Source: openmediavault-transmissionbt
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>> 7)
Standards-Version: 3.9.3
Homepage: http://omv-extras.org

Package: openmediavault-transmissionbt
Architecture: i386 amd64
Depends: ${misc:Depends}, openmediavault (>= 0.5.14), transmission-daemon (>= 2.42), transmission-cli (>= 2.42)
Priority: optional
Description: OpenMediaVault Transmission (BitTorrent client) plugin
 Transmission is a simple BitTorrent client that features a very simple and
 intuitive interface.
